<div class="top-bar">
  <h2>🤍 Favoritos</h2>
</div>

<main class="container">
  <div class="card">
    <div class="profile-pic">
        <img src="eletricista.png" alt="eletricista">
    </div>
    <div class="info">
      <h3>João Silva</h3>
      <p>Eletricista</p>
      <p class="stars">
        <span class="star">★</span>
        <span class="star">★</span>
        <span class="star empty">★</span>
        <span class="star empty">★</span>
        <span class="star empty">★</span>
      </p>
    <button (click)="verPerfil()">Ver perfil</button>
    </div>
  </div>

  <div class="card">
    <div class="profile-pic">
        <img src="encanador.png" alt="encanador">
    </div>
    <div class="info">
      <h3>Maria Santos</h3>
      <p>Encanadora</p>
      <p class="stars">
        <span class="star">★</span>
        <span class="star">★</span>
        <span class="star">★</span>
        <span class="star empty">★</span>
        <span class="star empty">★</span>
      </p>
      <button (click)="verPerfil()">Ver perfil</button>
    </div>
  </div>
</main>