<div class="top-bar">
  <h2>👤 Histórico de Serviços</h2>
</div>

<main class="container">
  @for(servico of servicos; track servico) {
    <div class="card-historico">
      <div class="info-historico">
        <div class="avatar">
          <img src="{{servico.categoria}}.png" alt="servico" />
        </div>
        <div class="dados">
          <strong>{{ servico.nome }}</strong>
          <span>{{ servico.categoria }} • $$ • 1.2 miles away</span>
          <p>{{ servico.descricao }}</p>
          <button (click)="contratarServico()">Agendar Novamente</button>
        </div>
      </div>
    </div>
  }
</main>