<div class="top-bar">
  <h2>👤 Histórico de Serviços</h2>
</div>

<main class="container">
  <div class="card-historico">
    <div class="info-historico">
      <div class="avatar">
        <img src="pedreiro.png" alt="servico">
      </div>
      <div class="dados">
        <strong>List item</strong>
        <span>Category • $$ • 1.2 miles away</span>
        <p>Supporting line text lorem ipsum dolor sit amet, consectetur.</p>
        <button>Agendar Novamente</button>
      </div>
    </div>
  </div>


  <div class="card-historico">
    <div class="info-historico">
      <div class="avatar">
        <img src="eletricista.png" alt="servico">
      </div>
      <div class="dados">
        <strong>List item</strong>
        <span>Category • $$ • 1.2 miles away</span>
        <p>Supporting line text lorem ipsum dolor sit amet, consectetur.</p>
        <button>Agendar Novamente</button>
      </div>
    </div>
  </div>


  <div class="card-historico">
    <div class="info-historico">
      <div class="avatar">
        <img src="marceneiro.png" alt="servico">
      </div>
      <div class="dados">
        <strong>List item</strong>
        <span>Category • $$ • 1.2 miles away</span>
        <p>Supporting line text lorem ipsum dolor sit amet, consectetur.</p>
        <button>Agendar Novamente</button>
      </div>
    </div>
  </div>
</main>