:host {
  display: block;
  padding: 1rem;
  max-width: 500px;
  text-align: center;
}

h2 {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}

p {
  margin-bottom: 1rem;
  color: #444;
}

.avatar {
  background-color: #d9d9d9;
  color: #333;
  width: 70px;
  height: 70px;
  font-size: 1.5rem;
  border-radius: 50%;
  margin: 0 auto 1rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nome {
  display: block;
  margin-bottom: 1rem;
  font-weight: bold;
  color: #333;
}

.estrelas {
  font-size: 2rem;
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  gap: 0.3rem;
}

.estrela {
  color: #e0d1f7;
  cursor: pointer;
  transition: color 0.2s;
}

.estrela.selecionada {
  color: #a68ddf;
}

.botoes {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
  gap: 1rem;
}

.botoes button {
  cursor: pointer;
  flex: 1;
  padding: 0.6rem;
  font-weight: bold;
  border-radius: 10px;
}

.botoes button.mat-button {
  border: 1px solid #ccc;
}

.botoes button.mat-raised-button {
  background-color: #a68ddf;
  color: white;
}

.campo-comentario {
  width: 300px;
  margin-top: 1rem;
}

.popup{
  align-items: center;
}