<main>
  <h2>Filtrar por Categoria →</h2>
  <div class="categorias">
    @for(categoria of categorias; track categoria) {
      <div class="categoria" (click)="selecionarCategoria(categoria.imagem)">
        <img src="{{categoria.imagem}}.png" alt="{{categoria.servico}}">
        <span>{{categoria.servico}}</span>
      </div>
    }
  </div>

  <div class="destaques">
    <h2>Profissionais em Destaque →</h2>

    @if(profissionaisFiltrados.length > 0) {
      @for(oferece of profissionaisFiltrados.slice(0, 5); track oferece) {
        <div class="card-profissional" (click)="verPerfil()">
          <div class="info-profissional">
            <div class="avatar">
              {{ oferece.prestador.nome.charAt(0) }}
            </div>
            <div class="dados">
              <strong>{{ oferece.prestador.nome }}</strong>
              <span>{{ oferece.servico.nome }}</span>
            </div>
          </div>
        </div>
      }
    } @else {
      <p class="mensagem-vazia">Nenhum profissional encontrado para essa categoria.</p>
    }

    @if(categoriaSelecionada) {
      <button class="btn-limpar-filtro" (click)="limparFiltro()">Limpar Filtro</button>
    }
  </div>



  <div class="servicos-ativos">
    <h2>Serviços ativos →</h2>

    <div class="card-profissional-servico ativo">
      <div class="info-profissional">
        <div class="avatar">J</div>
        <div class="dados">
          <strong>João Silva</strong>
          <span>Eletricista</span>
        </div>
      </div>

      <button class="finalizar-btn" (click)="finalizarServico()">✔️ Finalizar Serviço</button>
    </div>
  </div>
</main>
