<main>
  <h2>Filtrar por Categoria →</h2>
  <div class="categorias">
    <div class="categoria">
      <img src="pedreiro.png" alt="">
      <span>Pedreiro</span>
    </div>
    <div class="categoria">
      <img src="encanador.png" alt="">
      <span>Encanador</span>
    </div>
    <div class="categoria">
      <img src="marceneiro.png" alt="">
      <span>Marceneiro</span>
    </div>
    <div class="categoria">
      <img src="eletricista.png" alt="">
      <span>Eletricista</span>
    </div>
    <div class="categoria">
      <img src="fazTudo.png" alt="">
      <span>Faz Tudo</span>
    </div>
  </div>

  <div class="destaques">
    <h2>Profissionais em Destaque →</h2>
    <div class="card-profissional">
      <div class="info-profissional">
        <div class="avatar">A</div>
        <div class="dados">
          <strong>Maria Santos</strong>
          <span>Encanadora</span>
        </div>
      </div>
    </div>

    <div class="card-profissional">
      <div class="info-profissional">
        <div class="avatar">B</div>
        <div class="dados">
          <strong>João Silva</strong>
          <span>Eletricista</span>
        </div>
      </div>
    </div>
  </div>
</main>