* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

body {
  background-color: #faf6fb;
  color: #1c1c1c;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  padding: 20px;
  flex: 1;
}

h2 {
  margin-bottom: 12px;
  font-size: 18px;
}

.categorias {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 50px;
  /* margin-left: 50px;
  margin-right: 50px; */
}

.categoria {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 6px;
}

.categoria img {
  width: 100px;
  height: 100px;
  background-color: #ddd;
  border-radius: 50%;
}

.categoria span {
  font-size: 14px;
}

.destaques {
  margin-top: 20px;
}

.card-profissional {
  background-color: #f9f2fa;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 22px 16px;
  margin-bottom: 12px;
  border: 1px solid #e4d8e9;
  cursor: pointer;
}

.info-profissional {
  display: flex;
  align-items: center;
  gap: 10px;
}

.info-profissional .avatar {
  background-color: #c9b3eb;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
}

.info-profissional .dados {
  display: flex;
  flex-direction: column;
}

.dados strong {
  font-size: 14px;
}

.dados span {
  font-size: 12px;
  color: #666;
}

.servicos-ativos,
.destaques {
  margin-top: 2rem;
}

.card-profissional-servico {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f1fd;
  border-radius: 12px;
  padding: 1rem;
  margin-top: 1rem;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
}

.info-profissional {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.avatar {
  width: 40px;
  height: 40px;
  background-color: #d0bfff;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin-right: 0.8rem;
}

.dados {
  flex: 1;
}

.status.ativo {
  color: #4caf50;
  font-weight: 500;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.finalizar-btn {
  margin-top: 1rem;
  width: 20%;
  padding: 0.7rem;
  background-color: #4caf50;
  border: none;
  color: white;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.finalizar-btn:hover {
  background-color: #388e3c;
}