.top-bar {
  background-color: #fdf6fd;
  padding: 16px;
  border-bottom: 1px solid #ddd;
}

.top-bar h2 {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  gap: 8px;
  color: #333;

}

body {
  background-color: #fdf6fd;
}

.container {
  padding: 1rem;
  background-color: #fdf6fd;
  /* min-height: 75vh; */
}

.card {
  background-color: white;
  border: 1px solid #eee;
  border-radius: 10px;
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.card .profile-pic {
  width: 80px;
  height: 80px;
  background-color: #f0f0f0;
  border-radius: 10px;
}

img {
  width: 80px;
  height: 80px;
  border-radius: 10px;
}

.card .info {
  flex: 1;
}

.card .info h3 {
  margin: 0;
  font-size: 1.1rem;
  color: #333;
}

.card .info p {
  margin: 4px 0;
  color: #555;
  font-size: 0.9rem;
}

.card .info button {
  margin-top: 0.5rem;
  padding: 0.3rem 0.8rem;
  border: 1px solid #aaa;
  border-radius: 6px;
  background-color: white;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.card .info button:hover {
  background-color: #eee;
  color: #b472d9; /* lilás no hover */
}

.star {
  color: #a68ddf;
}

.star.empty {
  color: #ddd;
}