<div class="top-bar">
  <h2>👤 Meu Perfil</h2>
</div>

<main class="perfil-container">
  <div class="card-perfil">
    <div class="foto-perfil">
      <img src="belli.png" alt="Foto do cliente" />
    </div>

    <div class="dados">
      <p><strong>Nome:</strong> Gabriel Belliato</p>

      <div class="estrelas">
        <span class="star preenchida">★</span>
        <span class="star preenchida">★</span>
        <span class="star preenchida">★</span>
        <span class="star preenchida">★</span>
        <span class="star">★</span>
      </div>

      <p class="descricao">
        <strong>Descrição:</strong> O Lorem Ipsum é um texto modelo da indústria tipográfica e de impressão...
      </p>

      <div class="acoes">
        <button (click)="abrirHistorico()">Visualizar Histórico de Serviços</button>
      </div>
    </div>

    <div class="favorito">🤍</div>
  </div>
</main>
