<div class="cadastro-container">
  <div class="cadastro-card">
    <h1>Bem Vindo(a) ao <span>ContrataJá!</span></h1>
    <h2>Criar Conta</h2>

    <form class="form">
      <div class="linha-dupla">
        <div class="campo">
          <label for="nome">Nome</label>
          <input style="width: 215px;" id="nome" type="text" (ngModel)="nome" name="nome" />
        </div>
        <div class="campo">
          <label for="sobrenome">Sobrenome</label>
          <input style="width: 215px;" id="sobrenome" type="text" (ngModel)="sobrenome" name="sobrenome" />
        </div>
      </div>

      <label for="email">Email*</label>
      <input id="email" type="email" (ngModel)="email" name="email" required />

      <label for="endereco">Endereço*</label>
      <input id="endereco" type="text" (ngModel)="endereco" name="endereco" required />

      <label for="senha">Senha*</label>
      <input id="senha" type="password" (ngModel)="senha" name="senha" required />

      <button (click)="onSubmit()" type="submit">Concluir</button>
    </form>

    <p class="login">
      Você já tem conta? <a href="/">Fazer Login</a>
    </p>
  </div>
</div>
